<div class="card mb-2">
    <div class="card-header fs-5">LIST</div>
    <div class="card-body">
        <div>
            <input type="button" class="btn btn-primary" id="regist-button" value="　新規　" onclick="javascript:newDataModal()" />
        </div>
        <div id="MTMR002-list"></div>
    </div>
</div>