<div class="card">
    <div class="card-body">
        <div class="row g-3">
            <div class="col-6 text-start">
                <input type="button" class="btn btn-warning" id="update-button" value="　更新　" onclick="registBtnClick();" />
                <input type="button" class="btn btn-success" id="back-button" value="　戻る　" onclick="" />
            </div>
           
        </div>
    </div>
</div>
