

<div class="card">
    <div class="card-header fs-5 card-collapse" data-bs-toggle="collapse" href="#collapseMitsumoriInfo" aria-expanded="false" aria-controls="collapseMitsumoriInfo">Comment</div>
    <div class="collapse show" id="collapseMitsumoriInfo">
        <div class="card-body">
            <div class="row g-3">
                <textarea class="form-control" placeholder="Leave a comment here" id="Comment" style="min-height: 300px;"></textarea>
            </div>
        </div>
    </div>
</div>