@model Test_DotNetMVC.Models.ResponseModel.MTMRInfo


<div class="card">
    <div class="card-header fs-5 card-collapse" data-bs-toggle="collapse" href="#collapseMitsumoriInfo" aria-expanded="false" aria-controls="collapseMitsumoriInfo">MTMR_Header</div>
    <div class="collapse show" id="collapseMitsumoriInfo">
        <div class="card-body">
            <div class="row g-3">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">CustomerAd</span>
                    <input type="text" class="form-control" id="CustomerAd" asp-for="CustomerAd" disabled>
                </div>
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">CustomerContact</span>
                    <input type="text" class="form-control" id="CustomerContact" asp-for="CustomerContact" disabled>
                </div>
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Subject</span>
                    <input type="text" class="form-control" id="Subject" asp-for="Subject" disabled>
                </div>
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Deadline</span>
                    <input type="text" class="form-control" id="Deadline" asp-for="Deadline" disabled>
                </div>
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">DeliveryLocation</span>
                    <input type="text" class="form-control" id="DeliveryLocation" asp-for="DeliveryLocation" disabled>
                </div>
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Payment</span>
                    <input type="text" class="form-control" id="Payment" asp-for="Payment" disabled>
                </div>
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">QuoteExpirationDate</span>
                    <input type="text" class="form-control" id="QuoteExpirationDate" asp-for="QuoteExpirationDate" disabled>
                </div>
            </div>
        </div>
    </div>
</div>