@model Test_DotNetMVC.Models.ResponseModel.MTMRInfo

<div class="card">
    <div class="card-header fs-5 card-collapse" data-bs-toggle="collapse" href="#collapseMitsumoriInfo" aria-expanded="false" aria-controls="collapseMitsumoriInfo">MTMR_INFO</div>
    <div class="collapse show" id="collapseMitsumoriInfo">
        <div class="card-body">
            <div class="row g-3">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Mtmr001No</span>
                    <input type="text" class="form-control" id="Mtmr001No" asp-for="Mtmr001No" disabled>
                </div>
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">CustomerCd</span>
                    <input type="text" class="form-control" id="CustomerCd" asp-for="CustomerCd" disabled>
                </div>
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">EstimatedDate</span>
                    <input type="date" class="form-control" id="EstimatedDate" asp-for="EstimatedDate" disabled>
                </div>
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">UserId</span>
                    <input type="text" class="form-control" id="UserId" asp-for="UserId" disabled>
                </div>
            </div>
        </div>
    </div>
</div>