
<div class="card">
    <div class="card-body">
        <div class="row g-3">
            <div class="col-6 text-start">
                <input type="button" class="btn btn-warning" id="update-button" value="　更新　" onclick="registBtnClick();" />
                <input type="button" class="btn btn-success" id="back-button" value="　戻る　" onclick="" />
            </div>
            <div class="col-6 text-end">
                <input type="button" class="btn btn-primary" id="view-button" value="　参照新規　" onclick="" />
                <input type="button" class="btn btn-primary" id="detail-button" value="　見積詳細　" onclick="nextpage();" />
                <input type="button" class="btn btn-primary" id="print-button" value="　見積書印刷　" onclick="" />
            </div>
        </div>
    </div>
</div>