

<div class="card">
    <div class="card-header fs-5 card-collapse" data-bs-toggle="collapse" href="#collapseMitsumoriInfo" aria-expanded="false" aria-controls="collapseMitsumoriInfo">MTMR_Header</div>
    <div class="collapse show" id="collapseMitsumoriInfo">
        <div class="card-body">
            <div id="mtmr-list"></div>

            <div class="row justify-content-end m-3 p-2" id="kingaku-info">
                <div class="col-5 justify-content-start"><input type="button" class="btn btn-primary" id="addRow-button" value="　addLine　" onclick="addRowBtnClick(tableList);" /></div>
                <div class="col-7">
                    <div class="row">
                        <label for="displayEstimatedTotalAmount" class="col-sm-5 col-form-label col-form-label-lg">EstimatedTotalAmount : </label>
                        <div class="col-lg">
                            <input type="number" id="displayEstimatedTotalAmount" value="0">
                        </div>
                    </div>
                    <div class="row">
                        <label for="displayDiscount" class="col-sm-5 col-form-label col-form-label-lg">Discount : </label>
                        <div class="col-lg">
                            <input type="number" id="displayDiscount" value="0">
                        </div>
                    </div>
                    <div class="row">
                        <label for="displayEstimatedSubtotalAmount" class="col-sm-5 col-form-label col-form-label-lg">EstimatedSubtotalAmount : </label>
                        <div class="col-lg">
                            <input type="number" id="displayEstimatedSubtotalAmount" value="0" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
