@model Test_DotNetMVC.Models.ResponseModel.MTMRInfo

<div class="card">
    <div class="card-header fs-5 card-collapse" data-bs-toggle="collapse" href="#collapseBikoInfo" aria-expanded="false" aria-controls="collapseBikoInfo">Comments</div>
    <div class="collapse show" id="collapseBikoInfo">
        <div class="card-body">
            <textarea class="form-control" placeholder="Leave a comment here" id="Remarks" asp-for="Remarks"></textarea>
            <label for="Remarks">Comments</label>
        </div>
    </div>
</div>